<p id="notice"><%= notice %></p>

<h1>Group Permissions</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Allow create</th>
      <th>Allow read</th>
      <th>Allow update</th>
      <th>Allow delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_permissions.each do |group_permission| %>
      <tr>
        <td><%= group_permission.name %></td>
        <td><%= group_permission.description %></td>
        <td><%= group_permission.allow_create %></td>
        <td><%= group_permission.allow_read %></td>
        <td><%= group_permission.allow_update %></td>
        <td><%= group_permission.allow_delete %></td>
        <td><%= link_to 'Show', group_permission %></td>
        <td><%= link_to 'Edit', edit_group_permission_path(group_permission) %></td>
        <td><%= link_to 'Destroy', group_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Permission', new_group_permission_path %>
