<%= simple_form_for(@extension_profile_action) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :extension_profile %>
    <%= f.input :order %>
    <%= f.input :application %>
    <%= f.input :data %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
