<p id="notice"><%= notice %></p>

<h1>Destination Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Condition field</th>
      <th>Condition expression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destination_profiles.each do |destination_profile| %>
      <tr>
        <td><%= destination_profile.name %></td>
        <td><%= destination_profile.condition_field %></td>
        <td><%= destination_profile.condition_expression %></td>
        <td><%= link_to 'Show', destination_profile %></td>
        <td><%= link_to 'Edit', edit_destination_profile_path(destination_profile) %></td>
        <td><%= link_to 'Destroy', destination_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destination Profile', new_destination_profile_path %>
