<%= simple_form_for(@extension_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :extension %>
    <%= f.association :group %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
